.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: #242424;
  padding: 1.25rem;
  .logo {
    position: relative;
    height: 36px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .header-container {
    padding: 0px 16px;
    .logo {
      position: relative;
      height: 36px;
    }
  }
}
