.dashboard-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  .fixed-header {
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  .dashboard-wrapper {
    scroll-behavior: smooth;
    overflow-y: scroll;
    .infinite-scroll-component {
      padding: 0;
      padding-bottom: 2.5rem;
    }
  }
  .dashboard-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .dashboard-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
  .dashboard-wrapper::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: grey;
  }
}
