.yearly-container {
  padding: 1.5rem 16px 0rem 16px;
  .year-header {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  .yearly-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
